<div class="ui raised very padded text container segment" [ngClass]="myBckClass">
  <div class="ui header">
    App Name is: {{ appName }}
  </div>
  <br>
  <div class="container">
    <button class="ui primary button" (click)="toggleState()">
      Toggle State
    </button>
    <button class="ui primary button" (click)="incrementor()">
      Increment
    </button>
  </div>
  <br>
  <div class="container">
    Current State of the App is  <span [ngClass]="myClass">{{ appState }}</span>
  </div>
  <br>
  <div class="container">
      <span class="ui label">Counter value is {{ counter }}</span>
  </div>
  <br>
  <div class="ui info message"> <!--By using ngModel-->
    <p>You currently scribbled:</p>
    <p>{{ titlevalue  }}</p>
  </div>
  <br>
  <form class="ui large form segment">
    <h3 class="ui header">Scribbler</h3>
    <div class="field">
      <input 
        name="scrib" 
        #newtitle 
        [(ngModel)]="titlevalue"
        placeholder="Scribble your thoughts here..."
      >
    </div>
    <button (click)="scribbler(newtitle)" class="ui primary button">
      Record
    </button>
  </form>
  <br>
  <div class="ui segment">
    <app-bindings-child
     [appState]="appState"
     [appClass]="myClass" 
     [appCounter]="counter"
     [numberNature] = "numberNature"
     (modifyParentCount)="interpolatedIncrement($event)"
    >
    </app-bindings-child>
  </div>
  <br>
  <div class="ui segment" *ngIf="scribblePad.length > 0">
    <app-scribble
      [scribbles]="scribblePad"
      (resetScribble)="resetScribbler($event)"
    >
    </app-scribble>
  </div>
</div>

